.root {
  min-width: 60px;
  height: 36px;
  border: 1px solid #c748c7;
  border-radius: 6px;
  padding: 3px 8px;
  background-color: #b33db3;
  cursor: pointer;
  font-size: 18px;
  margin-right: 6px;
  color: white;
}

.root:hover {
  box-shadow: 0px 1px 5px 2px rgb(33, 108, 206, .4);
}

.secondary {
  background-color: rgb(177, 177, 177);
  border-color: rgb(214, 177, 214);
  color: #242424;
}